{% extends 'base.html' %}
{% block content %}

<div class="static-page-container">
    <h1>About Us</h1>
    <div class="about-content">
        
        <p><strong>
            It's not just a website – it is a digital home for anyone who grew up 
            with a fishing rod in hand on the banks of the Vit River,
            or spent sleepless nights waiting for the big blow of the Danube.
        </strong></p>

        <p>
            The Pleven region is unique in its diversity.
            From the rapids of the rivers, through the tranquility of the dams in Moesia,
            to the grandeur of the great river in the north. Our mission is to gather all this information in one place.
        </p>
        <h3>What we do ?</h3>
        <ul>
            <li>We map the best fishing spots around Pleven.</li>
            <li>We share which techniques (feeder, spinning, float) work best for local conditions.</li>
            <li>We foster a "catch and release" attitude and keep nature clean.</li>
        </ul>

        <p>We are a team of enthusiastic fishermen from the city of Pleven,
            who believe that information about their favorite hobby should be accessible and organized.
        </p>
        <p>Our goal is to promote the beauty of the Vit River, the Danube, Iskar and the numerous dams in the region, 
            while at the same time fostering a responsible attitude towards nature.</p>
    </div>
</div>
{% endblock %}