{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="static-page-container">
    <div class="method-header">

        <div class="method-icon">
            {% with "images/"|add:method.slug|add:".jpg" as image_path %}
                <img src="{% static image_path %}" alt="{{ method.name }}" 
                style="width: 250px; height: auto; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.2);">
            {% endwith %}
        </div>

        <h1>Method: {{ method.name }}</h1>
        <div class="method-description">
            {{ method.description|linebreaks }}
        </div>
    </div>

    <hr class="map-divider">

    <h2 class="section-title">Suitable locations for {{ method.name }}</h2>
    
    <div class="places-grid">
        {% for place in places %}
        <div class="place-card">
            <div class="place-image">
                {% if place.image %}
                    <img src="{{ place.image.url }}" alt="{{ place.name }}">
                {% endif %}
                <span class="badge">{{ place.get_place_type_display }}</span>
            </div>
            <div class="place-info">
                <h3>{{ place.name }}</h3>
                <p>{{ place.description|truncatewords:15 }}</p>
                <a href="{% url 'place_detail' place.slug %}" class="btn-more">Go to location</a>
            </div>
        </div>
        {% empty %}
        <p>No locations have been added for this method yet.<br/>Be the first ?</p>
        {% endfor %}
    </div>
</div>
{% endblock %}